
{% extends 'admin/change_form.html' %}

{% block content %}
  <h1>Withdrawal Approval/Reject</h1>
  <form method="POST" action="{% url 'admin:app_deposittransactionrequest_change' object_id %}">
    {% csrf_token %}
    <div class="submit-row">
      <input type="submit" value="Approve" name="_approve" class="default" />
      <input type="submit" value="Reject" name="_reject" class="default" />
      <a href="{% url 'admin:app_deposittransactionrequest_change' %}" class="btn btn-link">Cancel</a>
    </div>
  </form>
{% endblock %}